/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */


/* NAV RESPONSIVE */

@media (min-width: 576px) {
    .ms-nav{
        width: 90px;
    }
}


@media (min-width: 992px) {
    .ms-nav{
        width: 200px;
    }
}



/* HEADER RESPONSIVE */

@media (min-width: 992px){

    .d-lg-inline-block {
        display: inline-block!important;
        max-width: 100%;
    }
}


/* HEADER MAIN CONTENT RESPONSIVE */

@media (min-width: 576px) {
    
    .header-main-content-responsive{
        flex-direction: column;
    }

    .offcanvas-col{
        order: -1;
    }
}

@media (min-width: 768px) { 
   
    .offcanvas-col{
        order: 0;
        justify-content: center;
    }

    .header-main-content-responsive{
        flex-direction: row;
    }
}


/* MAIN RESPONSIVE */

/* table */

@media (min-width: 576px) {
    
    .ms-table-w{
        width: 32%;
    }

}

@media (min-width: 1200px) {
    .ms-table-w{
        width: 50%;
    }

}
