/* RESET */

a {
	text-decoration: none;
	color: currentColor;
}

p{
    margin: 0;
}

ul,
ol,
menu {
	list-style: none;
    margin: 0;
}

img {
	max-width: 100%;
}

input{
    border-radius: 7px;
    border-color: lightgrey;
}

/* PALETTE COLORS */

:root{
    --dark-blue: #051E34;
    --blue: #1B72E8;
    --blue-1: #165BBA;
    --light-grey: #C7CBCE;
    --grey:#6C757D;
    --light:#FFFFFF;
    --orange:#FF8F00;
}


/* LAYOUT */

.app,
.app-main{
    overflow: hidden;
}

.main-content{
    overflow: auto;
}

.app{
    height: 100vh;
}





/* NAV */

.ms-nav{
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--dark-blue);
}

.ms-menu,
.setting-nav{
    padding: 0 15px;
}

.nav-icon{
    margin-right: 5px;
    font-size: 20px;
}

.fa-chart-simple{
    margin-right: 10px;
}



/* HEADER */

.app-header ::placeholder{
    font-weight: 600;
}

.form-control{
    background-color: var(--light-grey);
}

.ms-search-bar{
    position: relative;
}

.ms-search-bar i{
    position: absolute;
    top: 11px;
    left: 8px;
}

.ms-search-bar input{
    padding-left: 42px;
}

.btn.active,
.btn.show, 
.btn:first-child:active{
    border-color: var(--light);
}

.btn{
    --bs-btn-padding-x: 0; 
    --bs-btn-padding-y: 0;
}

.fa-bell{
    color: var(--orange);
    font-size: 20px;
}

.header-icon{
    margin: 10 ;
}

.mobile-logo{
    max-width: 80px;
}



/* MAIN-CONTENT */

.header-main-content{
    background-color: var(--blue);
}

.header-main-content .btn{
    border-radius: 999px;
}

.ms-fs{
    font-size: 14px;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--blue-1);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.offcanvas-col{
    padding-top: 20px;
    /* order: -1; */
}

.ms-button-canvas{
    background-color: transparent;
    width: 40px;
    color: white;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
}

.offcanvas.offcanvas-end{
    width: 50%;
}

.offcanvas-body {
    flex-grow: 1;
    padding: 7px;
    overflow-y: auto;
    color: black;
    font-weight: 500;
}

.form-offcanvas{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.file-input{
    border: 1px solid grey;
}



/* MAIN  */

/* table card */


.logo-class{
    max-width: 25px;
}

.td-button{
    color: var(--grey);
    border: 1px solid var(--grey);
    border-radius: 5px;
}

.main tr th:not(:first-child){
    text-align: center;
}

.main tr td:not(:first-child){
    text-align: center;
}

/* accordion card */

.accordion-button:not(.collapsed) {
    background-color: var(--light);
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion-body-text{
    color: green;
    font-weight: 600;
}
/* DEBUG */

.app-header{
    /* border: 1px solid black; */
}

.app-main{
    /* border: 1px solid black; */
}

.ms-nav,
.main-content{
    /* border: 1px solid red; */
}

.main-content .container-fluid{
    /* border: 2px solid red; */
}

[class*="col-"]{
    /* border: 2px solid darkgreen; */
}

.main .row{
    /* border: 1px solid black; */
}

.main div{
    /* border: 1px solid black; */
}

.main .col,
.main .card{
    /* border: 1px solid green; */
}