/* RESET */

a {
	text-decoration: none;
	color: currentColor;
}

ul,
ol,
menu {
	list-style: none;
    margin: 0;
}

img {
	max-width: 100%;
}

/* PALETTE COLORS */

:root{
    --dark-blue: #051E34;
    --light-grey: #E5E5E5;
    --light:#FFFFFF;
    --orange:#FF8F00;
}

/* LAYOUT */

.app,
.app-main,
.app-header{
    overflow: hidden;
}

.main-content{
    overflow: auto;
}

.app{
    height: 100vh;
}





/* NAV */

.ms-nav{
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--dark-blue) ;
}

.nav-icon{
    margin-right: 5px;
    font-size: 20px;
}

.fa-chart-simple{
    margin-right: 10px;
}

.setting-nav{
    padding-left: 32px;
}



/* HEADER */

.app-header ::placeholder{
    font-weight: 600;
}

.form-control{
    background-color: var(--light-grey);
}

.btn.active,
.btn.show, 
.btn:first-child:active{
    border-color: var(--light);
}

.btn{
    --bs-btn-padding-x: 0; 
    --bs-btn-padding-y: 0;
}

.fa-bell{
    color: var(--orange);
}

.header-icon{
    margin: 10 ;
}

.mobile-logo{
    max-width: 80px;
}
.bell


/* DEBUG */

.app-header{
    border: 1px solid black;
}

.app-main{
    border: 1px solid black;
}

.ms-nav,
.main-content{
    /* border: 1px solid red; */
}

[class*="col-"]{
    /* border: 2px solid darkgreen; */
}